.main {
    width: 980px;
    height: 454px;
    margin-top: 10px;
    margin-left: 220px;
    /* background-color: pink; */
}

.focus {
    float: left;
    width: 720px;
    height: 454px;
    /* background-color: blue; */
}

.newsflash {
    float: right;
    width: 250px;
    height: 454px;
    /* background-color: green; */
}

.news {
    height: 165px;
    /* background-color: bisque; */
    border: 1px solid #e4e4e4;
}

.news-hd {
    height: 33px;
    padding: 0 15px;
    line-height: 33px;
    border-bottom: 1px dotted #e8e8e7;
}

.news-hd h5 {
    float: left;
    font-size: 14px;
    color: #333333;
}

.news-hd .more {
    float: right;
}

.news-hd .more::after {
    content: "\e902";
    font-family: 'icomoon';
}

.news-bd {
    padding: 5px 0 0 15px;
}

.news-bd ul li {
    height: 25px;
    line-height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lifeservice {
    overflow: hidden;
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0;
}

.lifeservice ul {
    width: 252px;
}

.lifeservice ul li {
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
    padding-top: 12px;
}

.lifeservice ul li:nth-child(1) i {
    display: inline-block;
    width: 19px;
    height: 25px;
    background: url(../images/icons.png) no-repeat -19px -16px;
}

.lifeservice ul li:nth-child(2) i {
    display: inline-block;
    width: 23px;
    height: 25px;
    background: url(../images/icons.png) no-repeat -80px -18px;
}

.lifeservice ul li:nth-child(3) i {
    display: inline-block;
    width: 23px;
    height: 25px;
    background: url(../images/icons.png) no-repeat -142px -18px;
}

.lifeservice ul li:nth-child(4) i {
    display: inline-block;
    width: 24px;
    height: 25px;
    background: url(../images/icons.png) no-repeat -206px -18px;
}

.lifeservice ul li:nth-child(5) i {
    display: inline-block;
    width: 23px;
    height: 25px;
    background: url(../images/icons.png) no-repeat -17px -89px;
}

.lifeservice ul li:nth-child(6) i {
    display: inline-block;
    width: 24px;
    height: 25px;
    background: url(../images/icons.png) no-repeat -80px -88px;
}

.lifeservice ul li:nth-child(7) i {
    display: inline-block;
    width: 22px;
    height: 25px;
    background: url(../images/icons.png) no-repeat -143px -88px;
}

.lifeservice ul li:nth-child(8) i {
    display: inline-block;
    width: 18px;
    height: 25px;
    background: url(../images/icons.png) no-repeat -209px -88px;
}

.lifeservice ul li:nth-child(9) i {
    display: inline-block;
    width: 23px;
    height: 25px;
    background: url(../images/icons.png) no-repeat -17px -160px;
}

.lifeservice ul li:nth-child(10) i {
    display: inline-block;
    width: 24px;
    height: 25px;
    background: url(../images/icons.png) no-repeat -79px -159px;
}

.lifeservice ul li:nth-child(11) i {
    display: inline-block;
    width: 22px;
    height: 25px;
    background: url(../images/icons.png) no-repeat -143px -160px;
}

.lifeservice ul li:nth-child(12) i {
    display: inline-block;
    width: 17px;
    height: 25px;
    background: url(../images/icons.png) no-repeat -209px -160px;
}

.bargain {
    margin-top: 5px;
    /* background-color: cornflowerblue; */
}


/* recom模块 */

.recom {
    height: 163px;
    margin-top: 11px;
    background-color: #ebebeb;
}

.recom_hd {
    float: left;
    width: 206px;
    height: 163px;
}

.recom_bd {
    float: left;
}

.recom_bd ul li {
    position: relative;
    float: left;
}

.recom_bd ul li img {
    width: 248px;
    height: 163px;
}

.recom_bd ul li:nth-child(-n+3)::after {
    position: absolute;
    content: "";
    top: 10px;
    right: 0;
    width: 2px;
    height: 144px;
    background-color: #dddddd;
}

.guess {
    height: 264px;
    margin-top: 36px;
    /* background-color: pink; */
}

.guess .guess_hd {
    height: 20px;
}

.guess .guess_hd p {
    float: left;
    font-size: 18px;
    color: #333333;
}

.guess .guess_hd button {
    float: right;
    background-color: #ffffff;
    font-size: 12px;
    color: #666666;
}

.guess .guess_hd button::after {
    font-family: 'icomoon';
    content: "\e903";
}

.guess .guess_bd {
    height: 233px;
    margin-top: 11px;
    border: 1px solid #ededed;
}

.guess .guess_bd ul li {
    float: left;
    width: 199px;
    text-align: center;
}

.guess_bd ul li h5,
.guess_bd ul li h3,
.guess_bd ul li p {
    margin-left: 36px;
    text-align: left;
}

.guess_bd ul li h3 {
    color: #df3033;
}

.guess_bd .img {
    height: 165px;
}

.guess_bd .img img {
    padding-top: 10%;
}

.jiadian {
    margin-top: 30px;
}

.box_hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
}

.box_hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
    font-weight: 400;
}

.tab_list {
    float: right;
}

.tab_list ul li {
    float: left;
}

.tab_list ul li a {
    padding: 0 15px;
}

.box_bd {
    height: 360px;
}

.tab_list_item>div {
    float: left;
    height: 360px;
}

.col_209 {
    width: 209px;
    background-color: #f9f9f9;
    text-align: center;
}

.col_209 ul li {
    float: left;
    width: 86px;
    height: 33px;
    margin-left: 12px;
    line-height: 33px;
    border-bottom: 1px solid #ededed;
}

.col_209 a img {
    margin-top: 20px;
}

.col_328 {
    width: 328px;
}

.col_221 a {
    display: block;
    width: 221px;
    border-right: 1px solid #ededed;
}

.col_219 {
    width: 219px;
}

.bb {
    border-bottom: 1px solid #ededed;
}